services:
  zed-testserver:
    image: quay.io/authzed/spicedb:latest
    ports: ['50051:50051']
    command: serve-testing
    healthcheck:
      test: ["CMD", "/usr/local/bin/grpc_health_probe", "-addr=:50051"]
      interval: 30s
      timeout: 30s
      retries: 3